{% extends 'layout.html.twig' %}

{% block content %}
    {% if user is not empty %}
        {% set username = user['pseudo'] %}
        {% set email = user['email'] %}
        {% set city = user['city'] %}
        {% set bottlesNumber = user['bottlesNumber'] %}
        {% set level = user['level'] %}
    {% endif %}
    <p>Résultat sondage</p>
        {% set cpt = 0 %}
        {% for survey in surveys %}
            {% set average = (survey.vote/allVotes)*100 %}
            Offre {{ cpt }} ---
            Titre : {{ survey.partner }}
            Nombre de vote :{{ survey.vote }}
            Pourcentage : {{ average|round(1, 'floor')}}<br>
            {% set cpt = cpt + 1 %}
        {% endfor %}
        {% set cpt = 0 %}
    <hr>
    <p>Ajouter des offres</p>
    {% for error in errors %}
        <p>{{ error }}</p>h
    {% endfor %}
    <form method="POST" action="?action=admin" enctype="multipart/form-data">
        <input type="text" name="partner" placeholder="Partenaire"><br>
        <input type="text" name="city" placeholder="Secteur"><br>
        <input type="text" name="deal" placeholder="Réduction"><br>
        <input type="text" name="cost" placeholder="Coût"><br>
        <input type="text" name="description" placeholder="Description"><br>
        <input type="text" name="expirationDate" placeholder="jj/mm/année">
        <input type="file" name="image"><br>
        <button type="submit" name="submitCatalog" >Ajouter Offre</button>
    </form>
    <hr>
    <p>Ajouter sondage</p>
    <form method="POST" action="?action=admin" enctype="multipart/form-data">
        <input type="text" name="partner" placeholder="Titre"><br>
        <input type="text" name="description" placeholder="Description"><br>
        <input type="file" name="image"><br>
        <button type="submit" name="submitAddSurvey" >Ajouter</button>
    </form>
    <hr>
    <div>
        <h3>Supprimer un compte indisérable</h3>
        <div id="errorBlockRemoveAccount"></div>
        <form method="post" id="removeAccountForm" action="?action=admin">
            pseudo
            <input type="text" name="pseudo" placeholder="pseudo">
            <input type="submit" name="submitAccount" value="Supprimer">
        </form>
    </div>
    <hr>
    <div>
        <h3>Supprimer une offre</h3>
        <form method="post" action="?action=admin">
            offre
            <input type="text" name="offers" placeholder="nom de l'offre">
            <input type="submit" name="deletteOffers" value="Supprimer">
        </form>
    </div>
    <hr>
    <div>
        <h3>Mettre a jour l'offre</h3>
        <form method="post" action="?action=admin">
            <select name="listOffer">
                {% for deal in deals %}
                    <option value="{{ deal.partner}}" >
                        {{ deal.partner}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Choisir" name="submitChoiceOffer">
        </form>
        {% if dealToUpdate is not empty %}
            <form method="post" action="?action=admin" enctype="multipart/form-data">
                <input type="text" name="partner" value="{{ dealToUpdate.partner }}">
                <input type="file" name="fileOffer">
                <input type="text" name="description" value="{{ dealToUpdate.description }}">
                <input type="text" name="id" value="{{ dealToUpdate.id }}">
                <input type="submit" name="submitUpdateOffer" value="Modifier">
                <input type="submit" name="submitRemoveOffer" value="Supprimer">
            </form>
        {% endif %}
    </div>
    <script src="assets/script/removeAccount.js"></script>

{% endblock %}
