{% extends 'layout.html.twig' %}

{% block content %}
    {%  if user is empty %}
        {{ user['pseudo'] }}
    {% endif %}
    <p>Nos offres</p>
    {% for deal in allDeals %}
        <p>{{ deal['partner'] }} - {{ deal['deal'] | raw }}  - {{ deal['cost'] }} points - URL IMAGE {{ deal['image'] }}</p>
    {% endfor %}
{% endblock %}
