{% extends 'layout.html.twig' %}
{% block content %}
    {{ user['pseudo'] }}<br>
    {{ user['email'] }}<br>
    {{ user['city'] }}<br>
    {{ user['bottlesNumber'] }} bouteilles recyclées<br>
    {{ user['costs'] }} points<br>
    Niveau :{{ user['level'] }}<br>
    {{ user['date'] | date("m/d/Y") }}<br>

    <div>
        <h3>Notre poubelle</h3>
        <form action="?action=profile" method="POST">
            <input type="text" placeholder="vos bouteilles ici" name="bottlesNumber">
            <input type="submit" value="Valider">
        </form>
    </div>
    <hr>
    <div>
        <h3>Mes réductions</h3>
        {% for deal in userDeals %}
            <p>{{ deal['partner'] }} - {{ deal['deal'] | raw }}  - {{ deal['cost'] }} points</p>
        {% endfor %}
    </div>
    <hr>
    <div>
        <h3>Réductions disponibles</h3>
        {% for deal in allDeals %}
            <p>{{ deal['partner'] }} - {{ deal['deal'] | raw }}  - {{ deal['cost'] }} points</p>
        {% endfor %}
    </div>

{% endblock %}
