{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <div class="left_side_mobile">
            <div class="burger">
                <div class="burger_line"></div>
                <div class="burger_line"></div>
                <div class="burger_line"></div>
            </div>
            <ul class="mobile_dropdown">
                <li><a href="?action=home">Accueil</a></li>
                <li><a href="?action=about">Nous</a></li>
                <li><a href="?action=partner">Devenir Partenaires</a></li>
            </ul>
            <img class="mobile_logo" src="assets/img/mobile_logo.png"/>
        </div>
        <div class="stats">
            <span>{{bottlesRecycled}}</span>
            <p>objets recylés !</p>
        </div>
        <ul class="menu_desktop">
            <li><a href="?action=home">Accueil</a></li>
            <li><a href="?action=about">Nous</a></li>
            <li><a href="?action=partner">Devenir Partenaires</a></li>
        </ul>
        <div class="current"><a href="#">{{user.pseudo}}</a></div>
    </header>

    <main class="user_page">
        <!--Hey les gars, c'est la liste des codebar dispo pour le user (les codes qu'il a pas encore entré)
        je veux éviter les conflis git j'attend que Nath push d'abord , en espérant que git ne prenne pas en compte les commentaire
        <div>
            <h3>Mes codes barres (généré par la poubelle et pas encore rentré par le user)</h3>
            {% for barcode in userBarcode %}
               {{ barcode['barcode'] }}<br>
            {% endfor %}
        </div>
        <hr>
        -->
        <div>
            <h3>Entrez un code</h3>
            <form action="?action=profile" method="POST">
                <input type="text" placeholder="code barre" name="barcode">
                <input type="submit" name="submitBarcode" value="Valider">
            </form>
        </div>
        <hr>
        <div>
            <h3>Notre poubelle</h3>
            <form action="?action=profile" method="POST">
                <input type="text" placeholder="vos bouteilles ici" name="bottlesNumber">
                <input type="submit" name="submitBottles" value="Valider">
            </form>
        </div>
        <hr>
        <div>
            <h3>Mes réductions</h3>
            {% for deal in userDeals %}
                <p>{{ deal['partner'] }} - {{ deal['deal'] | raw }}  - {{ deal['cost'] }} points</p>
            {% endfor %}
        </div>
        <hr>
        <div>
            <h3>Réductions disponibles</h3>
            {% for deal in allDeals %}
                <p>{{ deal['partner'] }} - {{ deal['deal'] | raw }}  - {{ deal['cost'] }} points</p>
            {% endfor %}
        </div>

    </main>
{% endblock %}
