{% extends 'layout.html.twig' %}
{% block content %}
    <header>
        <div class="left_side_mobile">
            <div class="burger">
                <div class="burger_line"></div>
                <div class="burger_line"></div>
                <div class="burger_line"></div>
            </div>
            <ul class="mobile_dropdown">
                <li><a href="?action=home">Accueil</a></li>
                <li><a href="?action=about">Nous</a></li>
                <li><a href="?action=partner">Devenir Partenaires</a></li>
            </ul>
            <img class="mobile_logo" src="assets/img/mobile_logo.png"/>
        </div>
        <div class="stats">
            <span>{{bottlesRecycled}}</span>
            <p>objets recylés !</p>
        </div>
        <ul class="menu_desktop">
            <li><a href="?action=home">Accueil</a></li>
            <li><a href="?action=about">Nous</a></li>
            <li><a href="?action=partner">Devenir Partenaires</a></li>
        </ul>
        <div class="current"><a href="#">{{user.pseudo}}</a></div>
    </header>

    <main class="user_page">
        <div class="user_info">
            <img class="profil_img" src="http://www.cipb.bj/wp-content/uploads/2017/01/no-profile-img-1024x1024-e1484312573323.gif"></img>
            <div class="line"></div>
            <div class="specific_info">
                <div class="username_lvl">
                    <div class="pseudo"><span>{{user.pseudo}}<span><a href="#"><img class="params" src="assets/img/editProfile.png"></img></a></div>
                    <span>Niv. <span class="lvl">{{user.level}}</span></span>
                </div>
                <div class="classement"><a href="#">Voir le Classement</a></div>
                <div><span class="inscription_date">INSCRIT DEPUIS LE {{user.date | date("m/d/Y")}}</span></div>
            </div>
        </div>
        <div class="stats">
            <div class="recycled"><span>{{user.bottlesNumber}}</span><span class="little">objets recylés</span></div>
            <div class="points"><span>{{user.costs}}</span><span class="little">points</span></div>
            <div class="fun_stats">statistiques : 19 bottles/week 4eme</div>
        </div>

        <div class="box">
            <ul>
                <li class="tabs active" id="profile_user_reductions"><img class="tabs_img" src="assets/img/tabs_my_reduc.png"></img></li>
                <li class="tabs" id="profile_availables_reductions"><img class="tabs_img" src="assets/img/tabs_available_reduc.png"></img></li>
                <li class="tabs" id="profile_sondage">3</li>
            </ul>
            <div class="all_changing_contents">
                <div class="changing_content my_reductions">
                    <p class="title">Mes réductions</p>
                    <div class="all_reducs">

                    </div>
                </div>
                <div class="changing_content available_reductions">
                    <p class="title">Réductions disponibles</p>
                    <div class="all_available_deal">
                        {% for deal in userDeals %}
                            <div class="available_deal">
                                <img class="partner_img" src="{{deal.image}}"></img>
                                <div class="deal_info">
                                    <span>{{deal.partner}}</span>
                                    <span>{{ deal['deal'] | raw }}</span>
                                </div>
                                <div class="deal_cost"><span>{{ deal['cost'] }}</span><span> points</span></div>
                                <div class="other_info">
                                    <span>{{deal.city}}</span>
                                    <span class="id">{{deal.id}}</span>
                                    <span>{{deal.expiration}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="changing_content sondage">Le sondage du mois</div>
            </div>
        </div>

        <div id="modale">
            <div class="modale_available_deal">
                <div class="deal_info">
                    <img class="img_modale" src=""></img>
                    <p class="partner_modale"></p>
                    <p class="city_modale"></p>
                    <p class="expiration_modale"></p>
                    <div class="cost">
                        <div class="price"></div>
                        <div class="reduc"></div>
                    </div>
                </div>
                <div class="action">
                    <form class="buy_deal" action="?action=profile" method="POST">
                        <input class="id" type="text" value="">
                        <input type="submit" value="acheter l'offre">
                    </form>
                    <a class="close_modale">Non merci</a>
                </div>
            </div>
        </div>

        <div>
            <h3>Entrez un code</h3>
            <form action="?action=profile" method="POST">
                <input type="text" placeholder="code barre" name="barcode">
                <input type="submit" name="submitBarcode" value="Valider">
            </form>
        </div>
        <hr>
        <div>
            <h3>Notre poubelle</h3>
            <form action="?action=profile" method="POST">
                <input type="text" placeholder="vos bouteilles ici" name="bottlesNumber">
                <input type="submit" name="submitBottles" value="Valider">
            </form>
        </div>
        <hr>
        <div>
            <h3>Mes réductions</h3>
        </div>
        <hr>
        <div>

            <h3>Réductions disponibles</h3>
            {% for deal in allDeals %}
                <p>{{ deal['partner'] }} - {{ deal['deal'] | raw }}  - {{ deal['cost'] }} points </p>

            {% endfor %}
        </div>

    </main>
{% endblock %}

